$font-families:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;


$header-footer-background1:rgb(49, 49, 49);
$header-footer-background2:rgb(32, 96, 235);
$font-bold: bold;
$font-s:1.5rem;
$background-container-colors:  rgb(32, 32, 32);
$background-home-color:rgb(50, 95, 153);
$text-color:rgb(221, 219, 219);
$font-sizes:2rem;
$b2-solid:1px solid rgb(32, 31, 31);
$emargin:20px 20px;